.Footer{
  position: absolute;
  color: white;
  bottom: 0px;
  left: 0px;
  background-color: #4d648d;
  right: 0px;
  height: 300px;
  width: 100%;
  display: block;
  margin: 0px;
  padding: 0px;
} 
.FooterSobre {
  left: 10rem;
  position: absolute;
  top: 3rem;
  font-size: 30px;
}
.FooterContato {
  left: 50rem;
  position: absolute;
  top: 3rem;
  font-size: 30px;
}
p {
  font-size: 20px;
  font-weight: 100;
}