.App h1 {
  text-align: center;
  color: white;
  position: relative;
  top: 150px;
  font-weight: 200;
}

.App {
  max-width: 1920px;
  max-height: 1080px;
}

@media screen and (min-width: 800px) {
  .App {
    width: auto;
  }

  .Linha {
    width: 10%;
    left: 200px;
  }

  .Nav li {
    left: 10%;
  }
}

.Linha {
  width: 50%;
  position: relative;
  background-color: white;
  height: 3px;
  left: 450px;
  top: 150px;
}

.Nome {
  color: white;
  width: 200px;
}

.Nav {
  background-color: #d0e1f9;
  position: fixed;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.Nav li {
  display: inline-block;
  margin-left: 100px;
  left: 500px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Nav li:hover {
  cursor: pointer;
  color: #4d648d;
}